# Build files
node_modules
dist

# Environnement
.env
.env.*
.vscode

# Tests and coverage
coverage
junit.xml
tests

# Git
.git
.github
.gitignore

# Documentation
README.md
CHANGELOG.md

# Docker
docker-compose.yml